backend/.env
frontend/src/assets/vip/IMG_7084_page-0001.jpg
frontend/src/assets/vip/2005.jpg
frontend/src/assets/LAP/CBC/CBC3.jpg
frontend/src/assets/LAP/CHEMISTRY/CHEMSITERE1.png
frontend/src/assets/LAP/CHEMISTRY/CHEMSITERE2.png
frontend/src/assets/LAP/CHEMISTRY/CHEMSITERE3.png
frontend/src/assets/LAP/CHEMISTRY/CHEMSITERE4.png
frontend/src/assets/LAP/CHEMISTRY/CHEMSITERE5.png
frontend/src/assets/LAP/CHEMISTRY/CHEMSITERE6.gif
frontend/src/assets/LAP/MEDICAL/MEDICAL1.jpg
frontend/src/assets/LAP/MEDICAL/MEDICAL2.jpg
frontend/src/assets/LAP/MEDICAL/MEDICAL3.jpg
frontend/src/assets/LAP/PCR/PCR01.png
frontend/src/assets/LAP/PCR/PCR02.png
frontend/src/assets/LAP/PCR/PCR03.png
frontend/src/assets/LAP/PCR/PCR04.png
frontend/src/assets/LAP/PCR/PCR05.jpg
frontend/src/assets/LAP/PCR/PCR06.jpg
frontend/src/assets/LAP/PCR/PCR07.jpg
frontend/src/assets/LAP/PCR/PCR08.png
frontend/src/assets/LAP/PCR/PCR09.png
frontend/src/assets/LAP/PCR/PCR10.png
frontend/src/assets/LAP/PCR/PCR11.png
frontend/src/assets/LAP/PCR/PCR12.png
frontend/src/assets/LAP/Q7/d1(3.3).png
frontend/src/assets/LAP/Q7/d1(4.4).gif
frontend/src/assets/LAP/Q7/d1(5.5).png
frontend/src/assets/LAP/Q7/d1(6.6).png
frontend/src/assets/LAP/Q7/d1(7.7).png
frontend/src/assets/LAP/Q7/qdevice(1.1).png
frontend/src/assets/LAP/Q7/qdevice(2.2).gif
frontend/src/assets/LAP/Q7/video(1).mp4
frontend/src/assets/LAP/RAPID-TEST/Rapidtests1.webp
frontend/src/assets/LAP/RAPID-TEST/Rapidtests2.jpg
frontend/src/assets/LAP/RAPID-TEST/Rapidtests3.jpg
frontend/src/assets/LAP/ULTRASONIC/Ultrasound1.png
frontend/src/assets/LAP/ULTRASONIC/Ultrasound2.png
frontend/src/assets/LAP/ULTRASONIC/Ultrasound3.png
frontend/src/assets/LAP/ULTRASONIC/Ultrasound4.png
frontend/src/assets/LAP/ULTRASONIC/Ultrasound5.png
frontend/src/assets/LAP/ULTRASONIC/Ultrasound6.jpg
frontend/src/assets/LAP/ULTRASONIC/Ultrasound7.jpg
frontend/src/assets/LAP/CBC/CBC2.jpg
*.jpg
*.png
*.webp
*.gif
